!!!---------------------------
!!!Configuring {{ inventory_hostname }}
!!!---------------------------
enable
conf t
hostname {{ hostname }}
ip domain name {{ domain }}
ip ssh version 2
ip scp server enable
!
int {{ management_interface }}
ip addr {{ management_ip }} {{ mask }}
no shut
!
{% for intr in interfaces %}
int {{ intr.name }}
ip addr {{ intr.ip }} {{ intr.mask }}
no shut
!
{% endfor %}
exit
!
line vty 0 4
login local
transport input all
exit
!
username {{ username }} secret {{password}}
!
enable secret {{password}}
!
crypto key generate rsa modulus 1024
end
!
write memory
!